body{
	font-family: Helvetica,Arial,sans-serif;
}
.container{
	position: relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.box-column{
	width: 100%
}
.filter-box{
	border: solid 1px #e5e5e5;
	border-radius: 8px;
    padding: 20px;
    margin-bottom: 16px;
}
.filter-box p{
	padding-bottom: 19px;
	color: #484848;
	font-size: 13px;
	line-height: 1;
	font-weight: 700;
	margin: 0;
}
.filter-box ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.filter-box ul li a{
	display: block;
	color: #484848;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
    padding-bottom: 10px;
}
.filter-box ul li a span{
	color: #919191;
}
.product-box{
	display: inline-block;
	border: solid 1px #e5e5e5;
	border-radius: 8px;
	width: 100%;
}
.boxes{
	clear: both;
}
.product{
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 20px 16px 20px;
	overflow: hidden;
}
.product:hover{
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.product img{
	width: auto!important;
	max-width: 100%;
}
.product a{
	text-decoration: none
}
.product p {
	height: 34px;
	font-weight: 400;
	display: -webkit-box;
	text-align: left;
	margin: 4px 0 0 0;
	color: #484848;
	line-height: 1.35em;
	font-size: 13px;
}
.price-container{
	display: table;
	margin: 8px 0;
}
.price-container .discount-badge{
	font-size: 14px;
	min-width: 44px;
	height: 32px;
	border-radius: 2px;
	background-color: #f90909;
	color: #fff;
	font-weight: 700;
	display: table-cell;
	width: 42px;
	right: 15px;
	text-align: center;
	vertical-align: middle;
	padding: 2px 0px;
	line-height: 13px;
}
.price-container .price.old{
	text-decoration: line-through;
	padding-left: 10px;
	height: 16px;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	color: #919191;
	font-weight: 500;
}
.price-container .price.old2{
	padding-left: 10px;
	height: 16px;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	color: #919191;
	font-weight: 500;
}
.price-container .price{
	display: block;
	height: 20px;
	padding-left: 10px;
	font-size: 19px;
	color: #414141;
	font-weight: 700;
	line-height: 1.2;
}
.product .status{
	font-weight: 700;
	color: #390;
	line-height: 1.2;
	display: block;
	margin-right: 4px;
	margin-top: 4px;
	font-size: 13px;
}
.last-price{
	height: 44px;
	border-radius: 2px;
	background-color: #f4f4f4;
	clear: both;
	text-align: left;
	padding-left: 8px;
	padding-top: 4px;
	margin: 8px 0 20px;
}
.last-price .green-text{
	font-size: 13px;
	color: #349e00;
	font-weight: 500;
}
.last-price .price-value{
	font-size: 18px;
	color: #414141;
	font-weight: 700;
	line-height: 1.2;
}
.pagination {
	padding: 40px 20px;
	clear: both;
	text-align: center;
}
.pagination ul {
	padding: 0;
	display: inline-block;
	line-height: 1;
}
.pagination ul li {
	border-radius: 16px;
	-moz-border-radius: 16px;
	-o-border-radius: 16px;
	-webkit-border-radius: 16px;
	-ms-webkit-radius: 16px;
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	line-height: 32px;
	overflow: hidden;
}
.pagination a, .pagination span {
	width: 51px;
	height: 32px;
	display: block;
	background-color: #eee;
	color: #484848;
	text-decoration: none
}
.pagination span{
	width: auto;
	background-color: #fff;
}
.pagination a.active {
	background-color: #ff6000;
	color: #fff;
}
@media(min-width: 768px){
	.filter-content{
		width: 30%;
		float: left;
	}
	.page-content{
		width: 70%;
		float: left
	}
	.column-3 .box-column{
		width: 50%;
		float: left;
	}
	.filter-box{
		margin-right: 16px;
	}
}
@media(min-width: 1024px){
	.filter-content{
		width: 20%;
		float: left;
	}
	.page-content{
		width: 80%;
		float: left
	}
	.column-3 .box-column{
		width: 25%;
		float: left;
	}
	.column-4 .box-column{
		width: 33.33333%;
		float: left;
	}
	.column-3 .product{
		min-height: 377px;
	}
	.column-4 .product{
		min-height: 460px;
	}
	.sort-buttons{
		padding: 20px;
		float: right;
	}
	.sort-buttons span{
		margin: 8px;
		background: url(column-view.png);
		width: 31px;
		height: 16px;
		display: block;
		float: right;
		position: relative;
		cursor: pointer;
	}
	.sort-buttons .list{
		background-position: 0 16px;
	}
	.sort-buttons .list.active{
		background-position: 0 0;
	}
	.sort-buttons .grid{
		background-position: 31px 16px;
	}
	.sort-buttons .grid.active{
		background-position: 31px 0;
	}
	.sortButton.list:before {
		content: "";
		width: 1px;
		height: 100%;
		position: absolute;
		left: 39px;
		top: 0;
		background-color: #ddd;
	}
}